.grid-label {
    padding-top: 30px;
    padding-left: 20px;
    font-size: 40px;
    font-weight: 600;
    background-color: transparent;
    
}

.grid-label .label-box{
    height: auto;
    width: auto;
    max-width: 300px;
  
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, .35)  0px 5px 25px ;
    border-radius: 25px;
    cursor: pointer;
}

.grid-label .label-box .label-infor{
    padding-left: 20px;
}