.Categories-box {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

.Categories-box .box {
    display: grid;
    grid-template-columns: 2fr 8fr; /* Tạo 2 cột với tỷ lệ 3:7 */
    gap: 20px; 
    
}

.Categories-box .box .box-left{
}

.Categories-box .box .box-left .cap{
    cursor: pointer;
    padding: 10px 20px;
    transition: .3s;
}

.Categories-box .box .box-left .cap:hover{
    transform: scale(1.2);
}

.Categories-box .box .box-left .cap-main{
    font-size: 50px;
    border-bottom: 3px solid;
    margin-left: 20px;

}

.Categories-box .box .box-left .cap-product{
    font-size: 30px;  
    margin-left: 40px;
}

.Categories-box .box .box-left .cap-normal{
    font-size: 50px;  
    margin-left: 20px;
    border-bottom: 3px solid;
}

.Categories-box .box .box-left  .cap-norma2{
    font-size: 20px;  
    overflow: hidden;
    margin-left: 20px;
}

.Categories-box .box .box-left .price-up-down{
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    padding: 10px 60px;
    transform: scale(1.6);
    justify-content: space-around;
    
}

.price-lowToUp, .price-upToLow{
    transition: .3s;
}

 .price-lowToUp:hover,
  .price-upToLow:hover{
    transform: scale(1.7);
}

.Categories-box .box .box-right{
}

.price-option{
    display: flex;
    justify-content: space-between;
}

.price-option input{
    margin-left: 29px;
    transform: scale(1.7);
}

.Categories-box .box .box-left .option-container{
    padding-top: 30px;

}

@media (max-width: 768px) {
    
   .Categories-box .box{
       grid-template-columns: 1fr; 
       grid-template-rows: auto; 
   }
}