.checkout-cont {
    background-color: inherit;
    width: 100%;
    height: auto;
    padding: 30px 40px;
}

.checkout-cont .cont {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.checkout-cont .cont .box {
    margin: 5px;
}

.checkout-cont .cont .cont-left {
    background-color: whitesmoke;
    width: 50%;
    height: 650px;
    border-right: 2px solid;
}

.checkout-cont .cont .cont-left div h1 {
    padding: 10px 20px;
}

.checkout-cont .cont .cont-right {
    background-color: whitesmoke;
    width: 50%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.checkout-cont .cont .cont-right .review-cont {
    background-color: whitesmoke;
    width: 100%;
    min-height: 300px;
}

.checkout-cont .cont .cont-right h1 {
    padding: 0px 20px;
    margin-top: -15px;
    margin-bottom: 17px;
}

.checkout-cont .cont .cont-right .discount-code {
    background-color: inherit;
    width: 100%;
    height: 70px;
}

.checkout-cont .cont .cont-right .table-pricing {
    background-color: inherit;
    width: 100%;
    height: 150px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.checkout-cont .cont .cont-right .order {
    background-color: inherit;
    width: 100%;
    height: auto;
}

.checkout-cont .cont .cont-right .order button {
    height: 40px;
}

/* ----------------------------Right------------------------------ */

/* ---------------------------REVIEW SECTION start------------------------- */
.cont-right .review-cont label {
    font-size: 25px;
    font-weight: 600;
}

.cont-right .review-cont .list-item {
    height: 90%;
    border-radius: 10px;
}

.cont-right .review-cont .list-item .item-cont {
    background-color: inherit;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.cont-right .review-cont .list-item .item-cont .item {
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: rgb(234, 230, 230);
    width: 100%;
    height: 110px;
    padding: 5px 10px;
    display: flex;
}

.cont-right .review-cont .list-item .item-cont .item img {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.cont-right .review-cont .list-item .item-cont .item .infor-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.cont-right .review-cont .list-item .item-cont .item .infor-wrapper .name {
    font-size: 20px;
}

.cont-right .review-cont .list-item .item-cont .item .infor-wrapper .price-amount-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cont-right .review-cont .list-item .item-cont .item .infor-wrapper .price-amount-wrapper .price {
    font-size: 30px;
}

.cont-right .review-cont .list-item .item-cont .item .infor-wrapper .price-amount-wrapper .amount {
    font-size: 30px;
    word-spacing: 10px;
}
/* ---------------------------REVIEW SECTION end------------------------- */

/* ---------------------------discount-code start------------------------- */
.cont-right .discount-code {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cont-right .discount-code .coupon-icon {
    font-size: 35px;
    margin-right: 20px;
}

.cont-right .discount-code input {
    border: none;
    width: 300px;
    height: 35px;
    overflow: hidden;
    padding: 10px 20px;
}

.cont-right .discount-code button {
    border: none;
    font-weight: bolder;
    width: 90px;
    height: 35px;
    transition: 0.3s;
}

.cont-right .discount-code button:hover {
    font-size: 20px;
}

/* ---------------------------discount-code end------------------------- */

/* ---------------------------table-pricing start------------------------- */
.table-pricing {
    padding: 2px 4px;
}

.table-pricing .table-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1px 10px 1px 10px;
}

.table-pricing label {
    font-size: 15px;
    padding: 0 10px 0 10px;
}

.table-pricing .finalPrice {
    border-top: 2px solid;
}

.table-pricing .font-1 {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.table-pricing .finalPrice .font-2 {
    font-size: 25px;
    font-weight: 700;
}
/* ---------------------------table-pricing end------------------------- */

/* ---------------------------order box start------------------------- */
.order {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.order:hover {
    transform: scale(1.1);
}

.order .submit-order {
    width: 70%;
    border-radius: 20px;
    font-size: 25px;
}
/* ---------------------------order box end------------------------- */

/* ----------------------------Left------------------------------ */

.cont-left .form-wrapping {
    padding: 10px 20px;
    width: 100%;
    height: 550px;
    background-color: whitesmoke;
}

.form-wrapping .head {
    font-size: 25px;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.form-wrapping .head div .icon {
    cursor: pointer;
    font-size: 40px;
    transition: 0.7s;
}

.form-wrapping .head div .icon:hover {
    transform: scale(1.8);
}

.cont-left .form-wrapping .form-1 {
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*     align-items: center;
 */
}

.cont-left .form-wrapping input {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid;
    font-size: 17px;
    padding: 10px 20px;
}

.cont-left .form-wrapping .form-1 .form-section {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.cont-left .form-wrapping .form-1 .form-section textarea {
    width: 100%;
    height: 120px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #333;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.cont-left .form-wrapping .form-1 .form-section button {
    cursor: pointer;
    width: 60%;
    font-size: 20px;
    height: auto;
    border-radius: 20px;
}

.cont-left .form-wrapping .form-1 .button-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-2 .cus-infor-box {
    background-color: inherit;
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: row;
}

.form-2 .cus-infor-box .box {
    width: 100%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
}

.form-2 .cus-infor-box .box .item {
    border-bottom: 1px solid;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
}

.form-2 .cus-infor-box .box .item .item-cate {
    letter-spacing: 1px;
    font-weight: 500;
}

.form-2 .cus-infor-box .box .item .item-value {
    font-weight: 800;
}

.form-2 .cus-infor-box .box .note {
    flex-direction: column;
}

.form-2 .type-payment {
    margin-top: 10px;
    background-color: inherit;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form-2 .type-payment .list-option {
    width: 300px;
    padding: 10px 20px;
}

.form-2 .submit-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form-2 .submit-button button {
    font-size: 25px;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    transition: 0.5s;
}

.form-2 .submit-button button:hover {
    transform: scale(1.1);
}
