.grid-newproduct{
    height: 91vh;
    background-color: #333;
}

.grid-newproduct .grid-container{
    color: white;
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
}

.grid-newproduct  .grid-label {
    padding-top: 30px;
    padding-left: 20px;
    color: white;
    font-size: 40px;
}

.grid-newproduct .grid-container .grid-item{
    color: rgb(39, 36, 36);
    border-radius: 20px;
    min-width: 70px;
    max-height: 450px;
    background-color: aliceblue;
    overflow: hidden;
}

.grid-newproduct .grid-container .grid-item div{
    display: block;
}

.grid-newproduct .grid-container .grid-item .image-container {
    width: 250px; 
    height: 250px; 
    overflow: hidden; 
}

.grid-newproduct .grid-container .grid-item .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position:center;
}

.grid-newproduct .grid-container .grid-item  .productName {
    font-size: 19px;
    padding: 5px  10px;
    max-height: 4rem;
    overflow:hidden;
}



.grid-newproduct .grid-container .grid-item  .productPrice {
    font-size: 25px;
    font-weight: 700;
    padding: 5px  60px;
    color: red;
}

.grid-newproduct .grid-container .grid-item .discount{
    font-size: 25px;
    font-weight: 900;
    position: relative;
    top: -20px;
    left: 180px;
}

.grid-newproduct .grid-container .grid-item .productPrice_discounted {
    font-size: 30px;
    font-weight: 700;
    padding-left: 55px;
    position: relative;
    top: -22px;
    color: red;
}

.discounted {
    color: grey !important;
    text-decoration: line-through;
}




.grid-newproduct .grid-container .grid-item  .productName, .productPrice, .image-container:hover{
    cursor: pointer;
}

