.User-background {
    width: 100%;
    height: auto;
    padding: 20px 30px;
}

.User-background .section-wrapping {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px; /* Khoảng cách giữa các section */
    width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng của container */
}

/* ------------------------ Left----------------------- */
.User-background .section-wrapping .section-left {
    height: auto;
    padding: 10px 20px;
    background-color: var(--grey1);
    border-radius: 10px;
}

.User-background .section-wrapping .section-left .section .linkFont {
    text-decoration: none !important;
    color: #333;
}

.User-background .section-wrapping .section-left .section {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: large;
}

.User-background .section-wrapping .section-left .section .icon {
    font-size: 30px;
}

.User-background .section-wrapping .section-left .section h3 {
    margin-left: 10px;
}

/* ---------------------------------------------- Right --------------------------------------------------------- */

.User-background .section-wrapping .section-right {
    padding: 10px 20px;
    background-color: inherit;
    border-radius: 10px;
    margin-top: -10px;
}

/* Home Page --------------------------------------------------------------------------- */

.Homepage {
    width: 100%;
    height: auto;
    background-color: var(--grey1);
    border-radius: 10px;
}

.Homepage .section {
    margin-bottom: 10px;
    background-color: inherit;
    border-radius: 10px;
}

.Homepage .user-infor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.Homepage .user-infor h1 {
    font-weight: bold;
    color: rgba(71, 108, 15, 0.711);
}
.Homepage .user-infor h3 {
}

.Homepage .user-infor .rank {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 130px;
    font-size: 40px;
    border: 1px solid;
    border-radius: 10px;
    font-weight: 300;
}

.Homepage .order-spend-wrapping {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
}

.Homepage .order-spend-wrapping .sec {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Homepage .order-spend-wrapping .spend-left {
    border-right: 1px solid;
}

.Homepage .oder-wrapping {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.Homepage .oder-wrapping .oder-item {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.Homepage .oder-wrapping .oder-item .left-img {
    width: 150px;
    height: 150px;
    border-radius: inherit;
}

.Homepage .oder-wrapping .oder-item .left-img img {
    width: inherit;
    height: inherit;
    overflow: auto;
    border-radius: inherit;
}

.Homepage .oder-wrapping .oder-item .item-info {
    width: inherit;
    padding: 10px 20px;
}

.Homepage .oder-wrapping .oder-item .item-info .item-sec {
    margin-bottom: 10px;
}

.Homepage .oder-wrapping .oder-item .item-info .name-dateOrder {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.Homepage .oder-wrapping .oder-item .item-info .name-dateOrder .name {
    font-size: 25px;
}

.Homepage .oder-wrapping .oder-item .item-info .stateOrder {
    border: 1px solid;
    width: 120px;
    height: auto;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.delivered {
    background-color: rgb(164, 199, 164);
    color: green;
}

.pending {
    background-color: rgb(192, 194, 157);
    color: yellow;
}

.confirmed {
    background-color: rgb(155, 200, 227);
    color: blue;
}

.canceled {
    background-color: rgb(188, 123, 123);
    color: red;
}

.Homepage .oder-wrapping .oder-item .item-info .price {
    font-weight: bold;
    color: red;
}

/* Your Account --------------------------------------------------------------------------- */
